.git/
.vs/
.vscode/
.idea/
*.user
*.suo
*.sln.docstates
.DS_Store
Thumbs.db

**/bin/
**/obj/
**/out/
**/TestResults/
**/*.log

.env
.env.*
**/*secrets*.json
**/*secret*.json

docker-data/
**/docker-data/

**/node_modules/
**/dist/
**/.next/
**/.angular/
**/coverage/
